<ul class="timeline">
    <li *ngFor="let event of events; let isOdd = odd" [class.timeline-inverted]="isOdd">
        <div class="timeline-badge"
             [class.success]="event.status == 'opened'"
             [class.warning]="event.status == 'closed'"
        >
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Status changed to {{event.status}}</h4>
                <p>
                    <small class="text-muted"><i class="fa fa-clock-o"></i> {{event.datetime}}</small>
                </p>
            </div>
        </div>
    </li>
</ul>
