<div class="container col-md-6">
    <form #surveyForm="ngForm">
        <fieldset class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" required [(ngModel)]="survey.title">
        </fieldset>

        <fieldset class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description"
                   [(ngModel)]="survey.description">
        </fieldset>

        <fieldset class="form-group">
            Questions ({{survey.questions.length}})
            <ul dnd-sortable-container [sortableData]="survey.questions" class="list-group questions">
                <li *ngFor="let question of survey.questions; let idx = index" dnd-sortable [sortableIndex]="idx"
                    (onDropSuccess)="updateQuestionNumbers()" class="list-group-item question-item">
                    {{ question.number + 1 }}
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="question-{{question.number}}"
                               [(ngModel)]="question.question">
                    </div>
                    <div class="col-md-1">
                        <a href="javascript:void(0)" (click)="removeQuestion(question.number)">X</a>
                    </div>
                </li>
            </ul>
            <a href="javascript:void(0)" (click)="addQuestion()">+</a>
        </fieldset>
        <fieldset class="form-group" *ngIf="survey.datetime">
            <label for="datetime">Creation date</label>
            <input type="text" class="form-control" id="datetime" name="datetime" [(ngModel)]="survey.datetime"
                   disabled>
        </fieldset>

        <fieldset class="form-group" *ngIf="survey.user.username">
            <label for="username">Owner</label>
            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="survey.user.username"
                   disabled>
        </fieldset>

        <div *ngIf="!survey.datetime">
            <button type="button" class="btn btn-secondary" (click)="goBack()">Cancel</button>
            <button type="submit" class="btn btn-success" (click)="save(survey)">Submit</button>
        </div>
    </form>
</div>
